body {
font-family: 'Courier New', Courier, monospace;
text-align: center;
display: inline;
background-color: lightgray;
max-width: 900px;
padding: 0;
margin: auto;
color: #6b705c;

}

@media screen and (max-width: 1100px) {
    body {
      background-color: #f7dba7;
    }
}

header {

font-size: 56px;
font-weight: bolder;
padding: 20px;

}


h1{
    font-size: 45px;
    text-transform: uppercase;

}

footer {

    font-size: 20px;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background-color: #6b705c;
    color: #ffe8d6;

}

nav {
    background-color: #6b705c;
    color: #ffe8d6;
    width: 100%;
    height: auto;
    font-size: 2em;
    padding: 0;
    position: fixed;

}


a {
    color: #b7b7a4;
    text-decoration: overline;
    font-size: 20px;
}



/*
MAIN STYLES
*/

main {
    margin-top: 300px;
}

img.mainimg {
    float: left;
    width: 300px;
    height: 400px;
    padding: 20px;

}

main > h2 {

    font-weight: bold;
    font-size: 32px;

}

h3 {
    font-family: cursive;
    font-style: italic;
    font-weight: bold;
}

/*ABOUT*/



img.aboutimg {
    width: 300px;
    height: 200px;
    padding: 20px;
    float: right;
}


hr.top {
    border: 10px solid;
    border-radius: 5px;
}

hr.divide {
    border: 3px solid;
    border-radius: 5px;
}




/* portfolio */




img.portnum {
    width: 100px;
    height: 100px;
    float: left;
    transition: width 2s;
}

img:hover {
    width: 300px
    height 300px;
}


.project {
    border: 10px solid;
    height: auto;
    display: inline-block;
    margin: 1em;
}



/*SUBMIT FORM*/

div.form {

    align-items: center;
    max-width: 100%;
    min-width: none;
    
}

input {
    font-family: 'Courier New', Courier, monospace;
    border-color: #6b705c;
    background-color: #f7dba7;
    border-width: 2px;
    border-style: dashed;
    width: 25%;
    margin-bottom: 1.5em;
    
}

textarea {
    font-family: 'Courier New', Courier, monospace;
    border-color: #6b705c;
    background-color: #f7dba7;
    color: #6b705c;
    border-width: 2px;
    border-style: dashed;
    width: 75%;
    height: 150px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: #6b705c;
    border-color: #6b705c;
    background-color: #f7dba7;
    border-width: 2px;
    border-style: dashed;
}

